.signup-container {
  padding-top: 5vh;

  padding: 50px;

  height: 74vh;
  width: 91vw;
}

.content {
  height: 80vh;
  width: 80vw;
  margin-left: 16vw;
  margin-right: 10vw;
  background: transparent;
  display: flex;
}

.left-step {
  height: 100%;
  width: 55%;
  background-color: white;
}

.right-image {
  height: auto;
  width: 28%;
}

.signup-step1 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
}

.signup-step2 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
}

.step-heading1:hover + .step-number {
  background-color: white;
}

.signup-step3 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
}

.signup-step4 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
}

.step-number {
  height: 25px;
  width: 25px;
  background-color: #2f75a6;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.step-image {
  height: 70%;
  width: 90%;
}

.step-heading1 {
  font-size: 20px;
  color: #bbb;
  cursor: pointer;
}

.step-heading1:hover {
  font-size: 28px;
  color: black;
}

.step-heading1:hover + .step-number {
  background-color: blue;
}

.step1-desc {
  margin-left: 52px;
}

@media (max-width: 768px) {
  .signup-container {
    padding-top: 5vh;
    height: 80vh;
    /* width: 98.7vw; */
    margin-left: -45px;
  }

  .left-step {
    width: 100%;
  }

  .right-image {
    width: 100%;
    height: auto;
  }

  .content {
    height: 90vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .step-number {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #bbb;
    text-align: center;
  }
}
