.signup-container {
  padding-top: 25vh;
  /* padding: 50px; */
  height: 74vh;
  width: 55%;
  margin: auto;
}

.content {
  height: 80vh;
  width: 100%;
  /* margin-left: 16vw; */
  /* margin-right: 10vw; */
  background: transparent;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.left-step {
  height: fit-content;
  width: 55%;
  background-color: white;
}

.right-image {
  height: fit-content;
  width: fit-content;
  /* margin-left: 40px; */
  margin-top: -100px;
}

.step-image {
  width: 300px;
  height: auto;
}

.signup-step1 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.signup-step2 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.step-heading1:hover + .step-number {
  background-color: white;
}

.signup-step3 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.signup-step4 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.step-number {
  height: 25px;
  width: 25px;
  background-color: #2f75a6;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.step-heading1 {
  font-size: 20px;

  color: #bbb;
  cursor: pointer;
}
.left-heading h1 {
  font-size: 40px;
  font-family: var(--heading-font-family);
  margin-bottom: 20px;
}
.step-heading1:hover {
  margin-bottom: 20px;
  font-size: 28px;
  color: black;
}

.step-heading1:hover + .step-number {
  background-color: blue;
}

.step1-desc {
  margin-left: 52px;
}

@media (max-width: 768px) {
  .signup-container {
    padding-top: 1vh;
    height: 115vh;
    width: 98.7vw;
    margin-top: 50px;
    /* margin-left: -45px; */
  }
  .content {
    height: 100vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
  }
  .left-step {
    width: 100%;
  }
  .step-image {
    height: 90%;
  }
  .right-image {
    width: 100%;
    display: flex;
    justify-content: center;
    
    height: auto;
    margin-top: 2px;
  }

  .content {
    height: 90vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .step-number {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .left-heading h1 {
    font-size: 31px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
  }
  .left-desc {
    font-size: 14px;
    font-family: "Plus Jakarta Sans";
    text-align: center;
  }
}
